.modal {
  position: fixed;
  display: flex;
  flex-flow: column;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.40);
}

.modal__wrapper {
  width: 270px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  border-radius: 24px;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.25);
  background-color: white;
}
.modal__content {
  margin: 22px 0 26px 0;
}
.modal__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  text-align: center;
  margin: 0 32px 2px;
  word-spacing: -1px;
  letter-spacing: -1px;
}

.modal__text {
  font-size: 14px;
  font-weight: 400;
  line-height: 17.5px;
  text-align: center;
  margin: 10px 30px 0;
  letter-spacing: -0.4px;
}

.modal__wrapper__btn {
  margin: 0 20px 20px;
  display: flex;
  flex-direction: column;
}

.modal.hide {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .modal__wrapper {
    background-color: #ffffff;
    color: #000000;
  }
}